# Data Pipelines with Python Project

## Data Extraction, Cleaning and Transformation

In [7]:
import pandas as pd

# Extract data

# Load data from dataset1 CSV file
dataset1 = pd.read_csv('dataset1.csv')

# Check for missing values
dataset1.isna().sum()

# Deal with missing values
dataset1.fillna('No Promo Code', inplace=True)

dataset1.rename(columns = {'country_of_purchase':'country'}, inplace = True)

In [8]:
# Load data from dataset2 CSV file
dataset2 = pd.read_csv('dataset2.csv')

# Check for missing values
dataset2.isna().sum()

# Deal with missing values
#dataset1.fillna('No Promo Code', inplace=True)

dataset2.rename(columns = {'country_of_payment':'country'}, inplace = True)

In [9]:
# Load data from dataset3 CSV file
dataset3 = pd.read_csv('dataset3.csv')

# Check for missing values
# dataset3.isna().sum()

dataset3.rename(columns = {'country_of_refund':'country'}, inplace = True)

## Merge the data

In [10]:
# merge the data sets

merged_dataset = pd.merge(pd.merge(dataset1, dataset2, on=['customer_id', 'country', 'payment_method', 'payment_status']), dataset3, on=['customer_id', 'country'])

merged_dataset

,customer_id,date_of_purchase,total_amount_billed,payment_status,payment_method,promo_code,country,date_of_payment,amount_paid,late_payment_fee,date_of_refund,refund_amount,reason_for_refund
0,101,04/01/2021,100,paid,credit card,PROMO1,USA,04/01/2021,100,0,04/03/2021,100,product not as described
1,102,04/02/2021,200,paid,bank transfer,PROMO2,USA,04/03/2021,200,0,04/06/2021,200,defective product
2,105,04/04/2021,125,paid,credit card,PROMO4,USA,04/05/2021,125,0,04/09/2021,25,product not as described
3,106,04/05/2021,150,paid,credit card,No Promo Code,UK,04/06/2021,150,0,04/11/2021,125,defective product
4,107,04/06/2021,75,overdue,e-wallet,PROMO5,USA,04/07/2021,75,20,04/12/2021,150,change of mind
5,108,04/06/2021,100,overdue,bank transfer,PROMO6,USA,04/07/2021,100,30,04/13/2021,75,product not as described
6,109,04/07/2021,50,paid,bank transfer,No Promo Code,UK,04/08/2021,50,0,04/13/2021,100,defective product
7,111,04/08/2021,175,paid,e-wallet,PROMO8,UK,04/09/2021,175,0,04/15/2021,175,defective product
8,112,04/08/2021,200,paid,bank transfer,PROMO9,USA,04/10/2021,200,0,04/16/2021,200,change of mind
9,113,04/09/2021,50,disputed,credit card,PROMO10,USA,04/10/2021,50,0,04/16/2021,50,product not as described
10,114,04/10/2021,100,paid,credit card,PROMO11,USA,04/11/2021,100,0,04/17/2021,100,defective product
11,115,04/10/2021,75,overdue,e-wallet,PROMO12,UK,04/12/2021,75,15,04/18/2021,75,product not received

## Load the data

In [11]:
merged_dataset.to_csv('customer_data.csv', index=False)